@model Eshoper_CD.Areas.Admin.Models.PasswordModel
@{
    ViewBag.Title = "ChangePassword";
}

<div id="error">

</div>
<div class="card-body">
    @using (Html.BeginForm("ChangePassword", "Accounts", FormMethod.Post, new { @class = "tm-edit-product-form", enctype = "multipart/form-data" }))
    {
        @Html.ValidationSummary(true, null, new { @class = "alert alert-danger" })
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Username</label>
                    @Html.TextBoxFor(model => model.username, new { @type = "text", @disabled = "", @class = "form-control validate", @readonly = "readonly" })
                    @Html.TextBoxFor(model => model.username, new { @type = "text", @class = "form-control validate", @style = "display:none;", @readonly = "readonly" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Password</label>
                    @Html.TextBoxFor(model => model.password, new { @type = "password", @disabled = "", @class = "form-control validate", @value = "FakePSW", @readonly = "readonly" })
                    @Html.TextBoxFor(model => model.password, new { @type = "password", @class = "form-control validate", @style = "display:none;", @value = "FakePSW", @readonly = "readonly" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>New Password</label>
                    @Html.TextBoxFor(model => model.newpassword, new { @id = "newpass", @type = "password", @class = "form-control validate", @placeholder = "Type new password" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Repeat Password</label>
                    @Html.TextBoxFor(model => model.repeatpassword, new { @id = "repeatpass", @type = "password", @class = "form-control validate", @placeholder = "Type new password again" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9">
                <button id="submitBtn" type="submit" class="btn btn-primary btn-block text-uppercase">Change Password</button>
            </div>
            <div class="col-md-3">
                <button type="submit" class="btn btn-danger btn-block text-uppercase" value="Delete" formaction="@Url.Action("DeleteAccount", "Accounts")">
                    <i class="now-ui-icons shopping_basket">
                    </i>
                </button>
            </div>
        </div>
    }
</div>
<script>
    var newPass = document.getElementById("newpass");
    var repeatPass = document.getElementById("repeatpass");
    var error = document.getElementById("error");

    var submit = document.getElementById("submitBtn");
    submit.addEventListener("click", function (event) {
        if (newPass.value == "" && repeatPass.value == "") {
            event.preventDefault();
        }
        if (newPass.value != repeatPass.value) {
            event.preventDefault();
            error.innerHTML = "<div class='alert alert-danger'><button type = 'button' aria-hidden='true' class='close'><i class='now-ui-icons ui-1_simple-remove'></i></button><span><b> Wrong - </b> New password and re-enter different password </span></div >";
        }
    })
</script>

