@model Eshoper_CD.Areas.Admin.Models.CreateAccountModel
@{
    ViewBag.Title = "CreateAccount";
}

<div class="panel-header panel-header-sm">
</div>
<div class="content container tm-mt-big tm-mb-big">
    <div class="row">
        <div class="col-xl-9 col-lg-10 col-md-12 col-sm-12 mx-auto">
            <div class="card">
                <div class="card-header">
                    <h5 class="title">Create Account</h5>
                </div>
                <div id="error">

                </div>
                <div class="card-body">
                    @using (Html.BeginForm("CreateAccount", "Accounts", FormMethod.Post, new { @class = "tm-edit-product-form", enctype = "multipart/form-data" }))
                    {
                        @Html.ValidationSummary(true, null, new { @class = "alert alert-danger" })
                        <div class="row">
                            <div class="col-md-6 pr-1">
                                <div class="form-group">
                                    <label>First Name</label>
                                    @Html.TextBoxFor(model => model.fname, new { @type = "text", @class = "form-control validate", @required = "required", @placeholder = "First Name" })
                                </div>
                            </div>
                            <div class="col-md-6 pl-1">
                                <div class="form-group">
                                    <label>Last Name</label>
                                    @Html.TextBoxFor(model => model.lname, new { @type = "text", @class = "form-control validate", @required = "required", @placeholder = "Last Name" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Email Address</label>
                                    @Html.TextBoxFor(model => model.email, new { @type = "email", @class = "form-control validate", @required = "required", @placeholder = "Email Address" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Username</label>
                                    @Html.TextBoxFor(model => model.username, new { @type = "text", @class = "form-control validate", @required = "required", @placeholder = "Username" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 pr-1">
                                <div class="form-group">
                                    <label>Password</label>
                                    @Html.TextBoxFor(model => model.password, new { @id = "newpass", @type = "password", @class = "form-control validate", @required = "required", @placeholder = "Password" })
                                </div>
                            </div>
                            <div class="col-md-6 pl-1">
                                <div class="form-group">
                                    <label>Password Confirm</label>
                                    @Html.TextBoxFor(model => model.passwordConfirm, new { @id = "repeatpass", @type = "password", @class = "form-control validate", @required = "required", @placeholder = "Confirm Password" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <button id="submitBtn" type="submit" class="btn btn-primary btn-block text-uppercase">Continue <i class="now-ui-icons arrows-1_minimal-right"></i></button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var newPass = document.getElementById("newpass");
    var repeatPass = document.getElementById("repeatpass");
    var error = document.getElementById("error");

    var submit = document.getElementById("submitBtn");
    submit.addEventListener("click", function (event) {
        if (newPass.value == "" && repeatPass.value == "") {
            event.preventDefault();
        }
        if (newPass.value != repeatPass.value) {
            event.preventDefault();
            error.innerHTML = "<div class='alert alert-danger'><button type = 'button' aria-hidden='true' class='close'><i class='now-ui-icons ui-1_simple-remove'></i></button><span><b> Wrong - </b> New password and re-enter different password </span></div >";
        }
    })
</script>


